body {
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  background-color: #0f3d2e;
}

.navbar-brand {
  color: #00ffae !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-text {
  color: #bbf7d0;
  font-size: 1.25rem;
}

.card {
  background-color: #1f1f1f;
  border: 1px solid #00ffae;
  border-radius: 1rem;
  color: #ffffff;
}

.card-header {
  background-color: #0f3d2e;
  color: #00ffae;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.form-control,
.form-select {
  background-color: #2e2e2e;
  color: #ffffff;
  border: 1px solid #00ffae;
}

.form-control:focus,
.form-select:focus {
  border-color: #00b373;
  box-shadow: 0 0 0 0.2rem rgba(0, 208, 132, 0.25);
}

.btn-dark {
  background-color: #00ffae;
  border: none;
  color: #000000;
}

.btn-dark:hover {
  background-color: #00cc8f;
  color: #000000;
}

.btn-outline-dark {
  color: #00ffae;
  border-color: #00ffae;
}

.btn-outline-dark:hover {
  background-color: #00ffae;
  color: #000000;
}

#message {
  color: #ff6b6b;
}

.bg-dark-subtle {
  background-color: #2a2a2a !important;
}